name: Generate Pacman Animation

on:
  schedule:
    - cron: "0 */12 * * *"  
  workflow_dispatch:  
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate Yellow Snake eating contributions
        uses: Platane/snk@v3
        id: pacman-gif
        with:
          github_user_name: Samhita-kolluri
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#FFD700&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353&color_empty=#0d1117
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#FFD700&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353&color_empty=#0d1117
          
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}